<% include ../layout %>

<div class="content">
    <% if(locals.error) { %>
        <%= locals.error %>
    <% } %>

    <% if(!locals.error) { %>

    <h2>Weet u zeker dat u uit wilt loggen?</h2>

        <form action="<%= req.baseUrl + '/logout' %>" method="post">
            <button type="submit" name="logout" value="logout">Log uit!</button>
        </form>
    <% } %>
</div>
