<% include layout %>


<ul class="photogallery">
    <% files.forEach(function(file){ %>
    <li><div><a href="<%= req.baseUrl + file + '/details' %>"><img src="<%= req.baseUrl + file %>"></a></div></li>
    <% }) %>
</ul>
