<% include layout %>
<div class="content">
    <form action="<%= req.baseUrl + "/upload" %>" method="post" enctype="multipart/form-data">

        <% if (locals.error) { %>
            <p><%= locals.error %></p>
        <% } %>
        <input type="file" name="<%= number %>" value="">

        <label class="upload" for="filename">Naam: </label>
        <input type="text" id="filename" name="filename" value="">

        <input type="hidden" id="caption" name="caption" value="<%= number %>" readonly='readonly'>

        <button>Upload!</button>
    </form>
</div>